<!DOCTYPE html>
<html>

<head>
    <!-- Using utf-8 character encoding by the browser -->
    <meta charset="utf-8">

    <!-- By determining the viewpoint gives instructions to the browser to control the dimensions and scale of the page. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Ensures that IE uses the latest available rendering engine to render a web page. recommendation would be
    to leave this tag out altogether, unless you must support old legacy browsers.
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->

    <title>Maryam Shakeri</title>

    <!-- Display the favicon in the browser -->
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">

    <!-- Getting started Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- -------------------- Google Fonts -------------------- -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

    <!--  -------------------- CSS Stylesheets -------------------- -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- -------------------- Font Awesome (Adding icons and .. to the page) -------------------- -->
    <script src="https://kit.fontawesome.com/f71e06c47e.js" crossorigin="anonymous"></script>
</head>

<body>
<!-- Definition of the title section -->
<section class="colored-section" id="title">
    <!-- container required by using bootstrap default grid system.
    container-fluid, which is width: 100% at all breakpoints -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="">Maryam Shakeri</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#intro">Intro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#educations">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experiences">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#certifications">Certification</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">Skill</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#languages">Language</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

<!-- -------------------- Title -------------------- -->
        <div class="row">
            <div class="col-lg-6">
                <p class="big-par">Hello, it's me</p>
                <h1 class="big-heading">Maryam.</h1>
                <h2>A process specialist and ...</h2>
            </div>
            <div class="col-lg-6">
                <img class="title-image" src="static/images/main_pct.png" alt="maryam">
            </div>
        </div>
    </div>
</section>


<!-- -------------------- Introduction -------------------- -->

<section class="colored-section" id="intro">
    <div class="container-fluid">
        <div class="row">
            <div class="intro-box">
                <h3 class="intro-title">Introduction</h3>
                <p>I was born in Iran and I am currently experiencing the third decade of my life.</p>
                <p>In the first two decades of my life, I was getting to know myself and the role I want to play.
                    During these years, I thought about becoming a policeman, a reporter, and a lawyer, and along the
                    way,
                    I read dozens of psychological and legal books. But in the end money won and I became an engineer!!
                    Of course, by choosing the field of industrial engineering and especially the quality branch,
                    I realized that this field is in line with the goals of my teenage years.</p>
                <p>I am a determined person who believes in continuous improvement.
                    Usually, it is hard for me to go past defects and problems, unless I am sure that either there are
                    short-term plans or long-term plans to fix them, or I can create them. This feature can reassure
                    those around me that there is a trusted, hardworking and helpful person by their side to make
                    improvements, and it can also make me seem a bit strict.</p>
                <p>If you believe in the classifications made by personality tests, you can recognize me with the ISTJ
                    personality type in <a class="hyplink" href="https://en.wikipedia.org/wiki/Myers%E2%80%93Briggs_Type_Indicator"
                                           target="_blank" rel="noopener noreferrer">the MBTI test</a>
                    and ISE in <a class="hyplink" href="https://en.wikipedia.org/wiki/Holland_Codes" target="_blank"
                                  rel="noopener noreferrer">the Holland test</a>.
                    Also, according to <a class="hyplink" href="https://en.wikipedia.org/wiki/Reuven_Bar-On" target="_blank"
                                          rel="noopener noreferrer">the Bar-On test</a>,
                    I have an emotional intelligence of 72, which is not bad, but I can improve it by improving
                    interpersonal relationships.
                    Finally, according to <a class="hyplink" href="https://en.wikipedia.org/wiki/Revised_NEO_Personality_Inventory"
                                             target="_blank" rel="noopener noreferrer">the NEO test</a>,
                    in terms of mental health, I am among indifferent people, from the aspect of defense style, I am
                    among compatible people,
                    in terms of anger control, I am among easy-going people, from the aspect of self-control, I am among
                    goal-oriented people,
                    and in terms of interests, I am among introvert people. From the aspect of the style of
                    interactions,
                    I am classified as a humble person, in terms of the style of activities as a hardworking person,
                    from the aspect of attitude as a progressive person, in terms of learning style as a learner and in
                    terms of
                    character as an effective altruistic person.</p>
                <p>I wrote all this, but I deeply believe that man performs different behaviors according to different
                    scenarios and changes under different conditions, and for this reason, he has gained more control
                    over the
                    planet than other animals. We are children of adaptation.</p>
            </div>
        </div>
    </div>
</section>

<!-- -------------------- Education -------------------- -->

<section class="white-section" id="educations">
    <div class="container-fluid">
        <div class="row">
            <div class="education-box col-lg-4">
                <i class="e-icon fas fa-book fa-4x"></i>
                <h3 class="education-title">Bachelor's degree</h3>
                <p>Islamic University Tehran North Branch</p>
                <p>Industrial Engineering</p>
            </div>
            <div class="education-box col-lg-4">
                <i class="e-icon fas fa-graduation-cap fa-4x"></i>
                <h3 class="education-title">Master's degree</h3>
                <p>University of Tehran</p>
                <p>Industrial Engineering</p>
            </div>
            <div class="education-box col-lg-4">
                <i class="e-icon fas fa-sitemap fa-4x"></i>
                <h3 class="education-title">MBA</h3>
                <p>Tose'eh</p>
                <p>MBA in Quality</p>
            </div>
        </div>
    </div>
</section>

<!-- -------------------- Experiences -------------------- -->

<section class="colored-section" id="experiences">
    <div id="experience-carousel" class="carousel slide" data-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
                <h2 class="experiences-title">self learner</h2>
                <h3>6 mos</h3>
                <h3>Berlin, Germany</h3>
                <ol type="I" class="experience-text">
                    <li>Learn Python programming language;</li>
                    <li>Learn HTML & CSS</li>
                    <li>Learning the German language and getting to know the culture of the German people;</li>
                    <li>Reading books to develop interactive skills.</li>
                </ol>
                <img class="experience-big-image" src="static/images/home.jpeg" alt="home_icon">
                <em>Self employed - Full time</em>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="experiences-title">Process Analyst</h2>
                <h3>8 mos</h3>
                <h3>Tehran, Iran</h3>
                <ol type="I" class="experience-text">
                    <li>Design and document processes required by the user using the BPMN language.</li>
                    <li>Developed a demo version of the automation process requested by users and provided a demo for
                        them.
                    </li>
                    <li>Conducting BPMS and BPMN training for client companies.</li>
                    <li>Identify, prioritize and plan the implementation of user requirements in the design of the main
                        automation software.
                    </li>
                    <li>Constantly interacting with technical teammates to develop the initial version of the processes
                        using the Scrum methodology.
                    </li>
                </ol>
                <img class="experience-image" src="static/images/chargoon.png" alt="chargoon_icon">
                <em>Chargoon - Full time</em>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="experiences-title">Operations Manager</h2>
                <h3>2 yrs 8 mos</h3>
                <h3>Tehran, Iran</h3>
                <ol type="I" class="experience-text">
                    <li>Acquired the knowledge of common payment processes and improved the knowledge sharing with
                        beneficiaries and competitors.
                    </li>
                    <li>Documented user support processes.</li>
                    <li>Collected and integrated the frequently asked questions(FAQ).</li>
                    <li>Managed the outsourcing process and also measuring the performance of call centers and
                        monitoring centers (NOC).
                    </li>
                    <li>Managed and facilitate the process of communication among outsourced centers and created a
                        culture of collaborative communication.
                    </li>
                    <li>Established and maintained a ticketing system for call and monitoring centers.</li>
                    <li>Detected and reported the security attacks (Fraud Detection).</li>
                    <li>studied and identified the market needs.</li>
                </ol>
                <img class="experience-image" src="static/images/hamrahcard.png" alt="hamrahcard_icon">
                <em>HamrahCard - Full time</em>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="experiences-title">Project Researcher</h2>
                <h3>5 mos</h3>
                <h3>Tehran, Iran</h3>
                <ol type="I" class="experience-text">
                    <li>Studied the feasibility of utilizing the solar panels in public places like holy shrines and
                        researched the best practices.
                    </li>
                </ol>
                <img class="experience-image" src="static/images/niroo.png" alt="nri_icon">
                <em>Niroo Research Institute - Contract</em>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="experiences-title">Commercial Specialist</h2>
                <h3>1 yr 8 mos</h3>
                <h3>Tehran, Iran</h3>
                <ol type="I" class="experience-text">
                    <li>Examined and categorized the imports as projects;</li>
                    <li>Coded the suppliers' catalogs;</li>
                    <li>Created project control infrastructure for imported shipments;</li>
                    <li>Defined, analyzed, and reported the quality of the implementation of imported projects;</li>
                    <li>Ordered suppliers;</li>
                    <li>Interacted with suppliers for preparing the exact documents;</li>
                    <li>Negotiated, inquired, and selected the forwarder companies;</li>
                    <li>Managed the transportation processes;</li>
                    <li>Followed up on completing documents and fulfilled financial obligations;</li>
                    <li>Managed the delivery process of imports to the warehouse;</li>
                    <li>Shared reports with management.</li>
                </ol>
                <img class="experience-big-image" src="static/images/avakianmehr.jpeg" alt="avakianmehr_icon">
                <em>Ava Kian Mehr - Full time</em>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="experiences-title">Operations Specialist</h2>
                <h3>11 mos</h3>
                <h3>Tehran, Iran</h3>
                <ol type="I" class="experience-text">
                    <li>Designed and documented service delivery processes with help of UML and BPMN diagrams;</li>
                    <li>Identified, prioritized, and planned the implementation of users' needs in case of using the two
                        different applications for drivers and the owners of goods and the panel of owners of goods;
                    </li>
                    <li>Interacted with the development team for implementation of Scrum methodology;</li>
                    <li>Supported customers by diagnosing and resolving the problems reported to the call center;</li>
                    <li>Cooperated in the process of organizing the compilation of jobs, roles, procedures, and business
                        models (canvas model);
                    </li>
                    <li>Determined the scope of the targeted customers based on the business model;</li>
                    <li>Created a database of the target customers;</li>
                    <li>Planned and participated in the contract negotiation processes and meetings;</li>
                    <li>Managed and measured the performance of call center and social media experts;</li>
                    <li>Analyzed and planned the customer Journey and the quality control of Happy Call.</li>
                </ol>
                <img class="experience-big-image" src="static/images/tarabarnet.png" alt="tarabarnet_icon">
                <em>Tarabarnet - Full time</em>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="experiences-title">BPMN Specialist</h2>
                <h3>5 mos</h3>
                <h3>Tehran, Iran</h3>
                <em>Iranian Seire Gharn - Full time</em>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="experiences-title">QC Engineer</h2>
                <h3>3 mos</h3>
                <h3>Shahriyar , Iran</h3>
                <em>Jam Gostar - Full-time</em>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="experiences-title">Trainee</h2>
                <h3>3 mos</h3>
                <h3>Tehran , Iran</h3>
                <em>Shila Fastfood chains - Part-time</em>
            </div>
        </div>
        <a class="carousel-control-prev" href="#experience-carousel" role="button" data-slide="prev">
            <span class="icon carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#experience-carousel" role="button" data-slide="next">
            <span class="icon carousel-control-next-icon"></span>
        </a>
    </div>
    <div class="carousel-item container-fluid">
        <h2 class="experiences-title">Project Researcher</h2>
        <h3>5 mos</h3>
        <h3>Tehran, Iran</h3>
        <ol type="I" class="experience-text">
            <li>Studied the feasibility of utilizing the solar panels in public places like holy shrines and researched
                the best practices.
            </li>
        </ol>
        <img class="experience-image" src="static/images/niroo.png" alt="nri_icon">
        <em>Niroo Research Institute - Contract</em>
    </div>
</section>


<!-- -------------------- Certifications -------------------- -->

<section class="white-section" id="certifications">
    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="sql">
                <p>Complete SQL and Databases Bootcamp</p>
                <p>Udemy, Issued Nov 2021</p>
                <img src="static/images/udemySQL.jpg" class="img-responsive margin sml-pic" alt="SQL_certificate">
            </div>
            <div class="ml">
                <p>Machine Learning</p>
                <p>Coursera, Issued Sep 2021</p>
                <img src="static/images/CourseraML.jpg" class="img-responsive margin sml-pic" alt="ML_certificate">
            </div>
            <div class="python">
                <p>The Complete Python Pro Bootcamp</p>
                <p>Udemy, Coming Soon</p>
                <!-- <img src="static/images/" class="img-responsive margin sml-pic" alt="Python_certificate"> -->
            </div>
        </div>
        <div class="row">
            <div class="deu_a1">
                <p>German's A1 Level</p>
                <p>Goethe, Issued Jul 2022</p>
                <img src="static/images/goethe.jpeg" class="img-responsive margin big-pic" alt="German_A1 level_certificate">
            </div>
            <div class="deu_b1">
                <p>German's B1 Level</p>
                <p>Telc, Issued Jan 2023</p>
                <img src="static/images/telc.jpeg" class="img-responsive margin big-pic" alt="German_B1 level_certificate">
            </div>
        </div>
    </div>
</section>

<!-- -------------------- Skills -------------------- -->

<section class="colored-section" id="skills">
    <div id="skill-carousel" class="carousel slide" data-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
                <h2 class="skill-title">SQL</h2>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p class="skill-text">I am familiar with sql and I have used it in different companies during the last 5 years of my work.
                    My use of sql query has been mostly in the fields of searching for defects and problems in the
                    performance of services, finding discrepancies, identifying fraud, preparing performance reports.
                    It is easier for me to use PostgreSQL, but I also have a very brief experience with MySQL.</p>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="skill-title">Quality Assurance(manufacturing)</h2>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p class="skill-text">The field of quality control and management has always been my favorite field during my studies.
                    I consider my mission to increase the quality of the system in which I am located. I use the
                    concepts of this field a lot in my daily life and include the pdca cycle in most of my planning. The
                    perspective of continuous improvement calms my hasty and perfectionist spirit and reminds me that in
                    order to improve, I must be constantly learning, and to solve any problem I must go directly to the
                    subject matter expert.I worked professionally in this field for a short period of time and have
                    experienced product quality control in the production line and work time measurement. I also started
                    documenting processes with ISO 9001 and 1401, then moved on to other documentation methods.</p>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="skill-title">Team Leadership</h2>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p class="skill-text">Man is a very complex creature and leading people to achieve goals and results while maintaining and
                    increasing their self-confidence, knowledge, comfort and motivation is very complex. This skill is
                    one that I can never rate myself as more than average. But I try to treat my team members in the
                    most fair way with the knowledge and information I have at any moment.</p>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="skill-title">Scrum</h2>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p class="skill-text">Scrum is one of the methodologies that I am happy to learn. Of course, when you work in IT companies,
                    you will have to learn and use it!! I always enjoyed the close and transparent relationship between
                    the technical managers of our companies and the programmers and IT people of their subordinates, and
                    because I was always among the people close to these teams, I soon managed to find the secret of
                    these healthy interactions: Scrum and Kanban During the recent years, my managers also used this
                    methodology and I tried to use it in my team. Jira and Trello were two interesting tools with which
                    I experienced Scrum.</p>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="skill-title">Project Management</h2>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p class="skill-text">Project management is a gear that, along with the task management gear, can launch a continuous
                    improvement system. So far, I didn't need to get into the PMBOK topics professionally, but I have
                    benefited from leveling resources and estimating costs a little in my work.</p>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="skill-title">HTML5, CSS</h2>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p class="skill-text">My motivation for learning html5 and css was to be more successful in using python. I am very
                    attracted to the Python programming language and I am constantly learning additional tools to deepen
                    my understanding of it. I can design a simple site with html and css and use Python in the backend
                    to bring it to life.</p>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="skill-title">Microsoft/ libre Office</h2>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p class="skill-text">I use Powerpoint, Word, Excel and Visio personally and professionally.</p>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="skill-title">Python</h2>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p class="skill-text">I love how simple Python is and how well it's optimized for small tasks. I am trying to get acquainted
                    with its countless libraries!! This language shows high efficiency in writing simple tasks,
                    Web Scraping and data analysis.</p>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="skill-title">BPMN2</h2>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p class="skill-text">BPMN 2 was so amazing to me that I couldn't walk into a company and not use it to better understand
                    the system and processes within it. This flexible tool allows me to exchange information with anyone
                    regardless of their level of technological mastery and to conclude my negotiations with clarity.</p>
            </div>
        <a class="icon carousel-control-prev" href="#skill-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="icon carousel-control-next" href="#skill-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>


<!-- -------------------- Languages -------------------- -->

<section class="white-section" id="languages">
    <div class="container-fluid">
        <div class="row">
            <div class="language-box col-lg-4">
                <i class="l-icon fa-solid fa-person-breastfeeding fa-4x"></i>
                <h3 class="language-title">Persian</h3>
                <p>My native language</p>
                <p>Native / Bilingual Proficiency</p>
            </div>
            <div class="language-box col-lg-4">
                <i class="l-icon fa-solid fa-house fa-4x"></i>
                <h3 class="language-title">German</h3>
                <p>my second language</p>
                <p>Limited Working Proficiency.</p>
            </div>
            <div class="language-box col-lg-4">
                <i class="l-icon fa-solid fa-book fa-4x"></i>
                <h3 class="language-title">English</h3>
                <p>my third language</p>
                <p>Elementary Proficiency.</p>
            </div>
        </div>
    </div>
</section>


<!-- -------------------- Footer -------------------- -->

<footer id="footer">
    <div class="container-fluid footer">
        <a href="https://www.linkedin.com/in/maryam-shakeri/" target="_blank" class="fa-brands fa-linkedin fa-2x hyplink"></a>
        <a href="https://github.com/M91skr" target="_blank" class="fa-brands fa-github fa-2x hyplink"></a>
        <p>© Copyright 2023 Maryam Shakeri</p>
    </div>
</footer>
</body>
</html>
